* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */

/* Rules for app itself */

.datepicker {
	width: 125px;
}

.options {
	margin-bottom: 10px;
}

.vendor_logo_anchor {
    text-decoration: none;
}

#app_caption_wrapper {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#app_caption_specific_date {
	color: rgb(255,0,0);
}

#start_button {
	color: rgb(0,0,0);
	background-color: rgb(0,255,0);
}
#stop_button {
	color: rgb(0,0,0);
	background-color: rgb(255,0,0);
}


